{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS --><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom_style.css">
    <title>Срочные займы MKK "Северная Столица"</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-sm bg-white inline-block navbar-light py-0" >

    <div class="containter navbar-collapse collapse w-100 order-1 order-md-0 collapse1 text-left">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/help">Справка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tourist_visas">Акции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/to_investors">Инвесторам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about_us">О компании</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/contacts">Контакты</a>
                        </li>
                    </ul>
    </div>
    <div class="container flex-nowrap">
        <div class="mr-auto order-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse1">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="ml-auto">
            <a class="navbar-brand mx-auto" href="/">
                <img src="{% static "img/logo.png" %}" class="image" height="60" alt="logo">
            </a>
        </div>

        {#            <div class="ml-auto order-1">#}
        {#                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse2">#}
        {#                    <img src="{% static "../assets/img/user.svg" %}" class="image" height="30" alt="user">#}
        {#                </button>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="navbar-collapse collapse w-100 order-3 collapse2 text-right">#}
        {#            <ul class="navbar-nav ml-auto">#}
        {#                {% if username %}#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link disabled" href="/account/logout/">{{ username }}</a>#}
        {#                    </li>#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" href="/account/logout/">Выйти</a>#}
        {#                    </li>#}
        {#                {% else %}#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" href="/account/login">Войти</a>#}
        {#                    </li>#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" href="/account/register">Регистрация</a>#}
        {#                    </li>#}
        {#                {% endif %}#}
        {#            </ul>#}
    </div>

</nav>
{% block main_page %} {% endblock %}
{% block registration %} {% endblock %}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background: deepskyblue;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Вы останетесь довольны</h5>
                <p>Мы ценим время клиентов и всегда надеемся на долгое сотрудничество.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">



            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5>Политика компании</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/assets/pdf/law230.pdf">Закон №230-ФЗ</a>
                    </li>
                    <li>
                        <a href="/assets/pdf/base-standart-insurance.pdf">Базовый стандарт получателя финансовых услуг (страхование)</a>
                    </li>
                    <li>
                        <a href="/assets/pdf/base-standart.pdf">Базовый стандарт защиты прав и интересов</a>
                    </li>
                    <li>
                        <a href="/assets/pdf/info-brochure-central-bank.pdf">Информационная брошюра ЦБ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Все официально</h5>

                <ul class="list-unstyled">
{#                    <li>#}
{#                        <a href="#!">Link 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 2</a>#}
{#                    </li>#}
                    <li>
                        <a href="http://www.cbr.ru/">Банк России</a>
                    </li>
                    <li>
                        <a href="http://fssprus.ru/">ФССП</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Микрофинансовая компания "Северная Столица" (ООО).
        <a> Все права защищены.</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>